{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post',post_id=post.id) }}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('delete_post',post_id=post.id) }}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
          <div class="form-group">
            {%if request.files.get('file', None) %}
            {%else %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('download', post_title=post.title) }}">Download</a>
            {%endif%}
        </div>
    </div>
  </article>
  
  {% if post.author != current_user %}
      <div>
          <a class="btn btn-outline-info mb-4" href="{{ url_for('comment', post_id=post.id) }}">Comment</a>
      </div>
  {% endif %}
    {% for com in coms.items %}
          {%if com.post_id==post.id%}
           <article class="article-metadata">
            <div class="article-metadata">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + com.author1.image_file) }}">
                
                <a class="mr-2" href="{{ url_for('user_posts', username=com.author1.username) }}">{{ com.author1.username }}</a>
                <small class="text-muted">{{ com.date_posted.strftime('%Y-%m-%d') }}</small>
                 
                <p class="article-content">{{ com.comment }}</p>
                </div>
           </article>
          {%endif%}   
    {% endfor %}
    {%for page_num in coms.iter_pages() %}
        {%if page_num%}
            <a class="btn btn-outline-info mb-4" href="{{url_for('post',post_id=post.id,page=page_num)}}">{{page_num}}</a>
        {%endif%}
    {%endfor%}
{% endblock content %}
